<mat-toolbar class="mat-elevation-z6" color="primary">
  <button *ngIf="hasMenu" aria-label="Toggle sidenav" mat-icon-button (click)="drawer">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
  <span>Mulesoft Dashboard</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="control-item" aria-label="icon-button with account circle icon">
    <mat-icon routerLink="['/dashboard']">home</mat-icon>
  </button>
  <button mat-icon-button class="control-item favorite-icon" aria-label="icon-button with heart icon">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button class="control-item" aria-label="icon-button with help outline icon">
    <mat-icon>help_outlined</mat-icon>
  </button>
  <button mat-icon-button class="control-item" aria-label="icon-button with account circle icon">
    <mat-icon>account_circle</mat-icon>
  </button>
    <button mat-icon-button class="control-item" aria-label="icon-button with account circle icon">
      <mat-icon>light_mode</mat-icon>
    </button>

<!--
    <div class="control-item example-icon" *ngIf="!theme">
    <div class="ai-toggle" (click)="changeTheme()">
      <mat-icon fontSet="material-icons-outlined">light_mode</mat-icon>
      <mat-icon fontSet="material-icons-outlined">dark_mode</mat-icon>
      <div [ngClass]="themeClass"></div>
    </div>
  </div>
-->
</mat-toolbar>