<div class="cart-popover" fxLayout="column" fxLayoutAlign="center">
  <label class="subheading-2">Shopping Cart</label>
  <mat-list>
    <mat-list-item *ngFor="let item of elementsCart">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
        <div fxLayout="column">
          <img mat-card-avatar src="assets/images/headphone-circle.jpg" alt="Headphone" class="square-image">
        </div>
        <div fxLayout="column">
          <div fxLayout="row"><span>{{item.title}}: </span> </div>
          <div fxLayout="row"> <span class="price">${{item.price}}</span> </div>
        </div>
        <div fxLayout="column">
          <mat-icon aria-label="remove from shopping cart" class="removeFromCart" matTooltip="Remove from cart"
            (click)="onRemoveItemFromCart(item.uuid);$event.stopPropagation();">
            remove_shopping_cart</mat-icon>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div fxLayout="column" fxLayoutAlign="center" class="totalCost">
        <label class="price">Total: ${{totalCost}}</label>
      </div>
    </mat-list-item>
  </mat-list>
  <button mat-raised-button color="primary" id="checkout">
    Checkout
    <mat-icon>shopping_cart_checkout</mat-icon>
  </button>
</div>