<h3>Create product</h3>
<mat-divider class="separator"></mat-divider>
<div class="buttons" fxLayout="row" fxLayoutAlign="start">
  <button mat-raised-button color="primary" [routerLink]="[ '../list' ]">
    <mat-icon aria-hidden="false" aria-label="Example chevron_left icon">chevron_left</mat-icon>
    Back
  </button>
</div>

<mat-card>
  <mat-card-content>
    <form [formGroup]="form" fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="start start"
      fxLayoutGap="1rem">

      <mat-form-field appearance="outline" floatLabel="always" fxLayout="column" fxLayout.xs="row" fxFlex="1 1 calc(50% - 1rem)">
        <mat-label>Name:</mat-label>
        <input matInput formControlName="name" maxlength="30">
        <mat-error *ngIf="f['name'].hasError('required')">
          Campo requerido.
        </mat-error>
        <mat-error *ngIf="f['name'].hasError('fieldExist')">
          El elemento ya existe.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxLayout.xs="row" fxFlex="1 1 calc(50% - 1rem)">
        <mat-label>Price:</mat-label>
        <input matInput type="number" class="example-right-align" formControlName="price" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <mat-error *ngIf="f['price'].hasError('required')">
          Campo requerido.
        </mat-error>
        <mat-error *ngIf="f['price'].hasError('fieldExist')">
          El elemento ya existe.
        </mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>
</mat-card>

<div class="buttons margin-top" fxLayout="row" fxLayoutAlign="end">
  <button mat-raised-button color="primary" [disabled]="!form.valid || submitted===true" (click)="create()">
    Create
  </button>
</div>