:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
}

.mat-list-item {
  // padding: 8px 0;
  display: flex;
  width: auto;
  .routeIcon {
    margin-right: 10px;
  }
  font-size: 0.8525rem;
  font-weight: 500;
  line-height: 1.7rem;
  .icon-expand {
    font-size: 1.25rem;
    line-height: 1;
    width: 1em;
    height: 1em;
  }
  app-menu-list-item .mat-list-item {
    padding: 0 1.25rem;
  }
}

::ng-deep .mat-list-item-content {
  flex: 1 1 100%;
}
